.app-footer {
  margin-top: 1.5em;
  min-height: 4rem;
  background-color: $clr4;

  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  > p {
    color: $clr1;
    margin: 0;
  }
}
