

.stay-container {
    max-width: 1400px;
    margin: 0 auto;
}

.stay-list {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.5rem;
}