.login-form,
.signup-form {
	display: grid;
	width: min(80%, 400px);
	margin: auto;

	padding: 1em;
	background-color: rgb(157, 200, 230);
	border-radius: 1rem;
}

.signup-form {
	input {
		width: 100%;
		padding: 0.5em;
		border-radius: 5px;
		border: none;
	}

    .admin-toggle {
        display: flex;
        align-items: center;
        justify-self: start;

        span {
            font-size: .8em;
        }
    }

	button {
		padding: 0.5em;
		border-radius: 5px;
		border: none;
		background-color: #ee4d6b;
		color: white;
		font-size: 1rem;
		font-weight: 600;
		cursor: pointer;

		&:hover {
			background-color: $clr1;
		}
	}
}

.login-form {
	input {
		width: 100%;
		padding: 0.5em;
		border-radius: 5px;
		border: none;
	}

	select {
		width: 100%;
		padding: 0.5em;
		border-radius: 5px;
		border: none;
	}

	button {
		padding: 0.5em;
		border-radius: 5px;
		border: none;
		background-color: #ee4d6b;
		color: white;
		font-size: 1rem;
		font-weight: 600;
		cursor: pointer;

		&:hover {
			background-color: $clr1;
		}
	}
}

.login-page nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3em;
	
	margin-block: 100px 0.5em;
	
	a {
		color: #ff385c;
		font-size: 1em;
		font-weight: 600;

		&:hover {
			color: $clr1;
		}
	}

}
